<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreateBarCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D3FAF961D4064AD00B80675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3FAFAF1D4064AD00B80675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D3FAFBA1D4064AE00B80675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
